<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/employees">Employee ERP</a>
    <div class="d-flex gap-2">
      <a class="btn btn-sm btn-success" href="/employees/new">+ Add Employee</a>
    </div>
  </div>
</nav>
